body , header {
    margin: 0; /* Supprimer la marge par défaut */
    font-family: 'Arial', sans-serif; /* Changer la police par défaut */
    background-color: #f0f0f0; /* Changer la couleur d'arrière-plan */
    /* ... autres styles personnalisés */
    margin-top: -1em;
  }
  